<!-- intro section
================================================== -->
<section id="intro">   

<div class="intro-overlay"></div>	

<div class="intro-content">
    <div class="row">

        <div class="col-twelve">

            <h5>...</h5>
            <h1>Hi it's Nicole</h1>

            <p class="intro-position">
                <span>Game Designer</span>
                <span>Blender</span> 
                <span>3Ds Max</span> 
                <span>Substance Painter</span>
                <span>Unity</span>
                <span>Unreal Engine</span>
                <span>Sales</span>
                
            </p>

            <a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

        </div>  
        
    </div>   		 		
</div> <!-- /intro-content --> 

<ul class="intro-social">        
    <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://www.linkedin.com/in/nicole-o-brien-267162175/"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
    <li><a href="https://docs.google.com/document/d/1IpGqOkGBDXcbJw1NHnWvg3RrYVCgP6h7/edit?usp=sharing&ouid=115436486352878839217&rtpof=true&sd=true"><i class="fa fa-bookmark"></i></a></li>
</ul> <!-- /intro-social -->      	

</section> <!-- /intro -->


<!-- about section
================================================== -->
<section id="about">  

<div class="row section-intro">
    <div class="col-twelve">

        <h5>About</h5>
        <h1>Let me introduce myself.</h1>

        <div class="intro-info">

            <img src="assets/img/profile-pic.jpg" alt="Profile Picture">

            <p class="lead">
                Hello, my name is Nicole O'Brien and welcome to my website! I am a game design graduate from TUD with over six years of game design experience.
                I'm currently trying to jump start my career in video game industry.
            </p>
            <!-- <br><br><a class="button stroke smoothscroll" href="#contact" title="">Contact me!</a> -->
        </div>   			

    </div>   		
</div> <!-- /section-intro -->

<div class="row about-content">

    <div class="col-six tab-full">

        <h3>Profile</h3>
        <p class="lead">I mostly make 3D assets, but in my spare time you'll find me with family/friends, playing video games, creative writing, with my cat Poncho or swimming.</p>

        <ul class="info-list">
            <li>
                <strong>Full name:</strong>
                <span>Nicole O'Brien'</span>
            </li>
            <li>
                <strong>Birth Date:</strong>
                <span>30th April 2000</span>
            </li>
            <li>
                <strong>Graduate:</strong>
                <span>Game Design</span>
            </li>
            <li>
                <strong>Website:</strong>
                <span>www.nicole-obrien.net</span>
            </li>
            <li>
                <strong>Email:</strong>
                <span>nicoleobrien304@hotmail.co.uk</span>
            </li>

        </ul> <!-- /info-list -->

    </div>

    <div class="col-six tab-full">

        <h3>Skills</h3>
        <p class="lead">Nowadays I mainly develop in PHP, Laravel, Angular, SQL, JQuery, HTML and CSS. Other Technology/software I use daily are Git, Github, AWS, Jira, Navicat, PhpStorm.</p>

            <ul class="skill-bars">
                <li>
                    <div class="progress percent80"><span>80%</span></div>
                    <strong>Blender</strong>
                </li>
                <li>
                    <div class="progress percent50"><span>50%</span></div>
                    <strong>3Ds Max</strong>
                </li>
                <li>
                    <div class="progress percent50"><span>50%</span></div>
                    <strong>Substance Painter</strong>
                </li>
                <li>
                    <div class="progress percent90"><span>90%</span></div>
                    <strong>Unity</strong>
                </li>
                <li>
                    <div class="progress percent70"><span>70%</span></div>
                    <strong>Unreal Engine</strong>
                </li>
                <li>
                    <div class="progress percent30"><span>30%</span></div>
                    <strong> C#</strong>
                </li>
                <li>
                    <div class="progress percent90"><span>90%</span></div>
                    <strong>Sales</strong>
                </li>
                <li>
                    <div class="progress percent80"><span>80%</span></div>
                    <strong>Leadership</strong>
                </li>
                <li>
                    <div class="progress percent80"><span>80%</span></div>
                    <strong>Team Building</strong>
                </li>
                <li>
                    <div class="progress percent90"><span>90%</span></div>
                    <strong>Communication</strong>
                </li>
                <li>
                    <div class="progress percent90"><span>90%</span></div>
                    <strong>Time Management</strong>
                </li>
            </ul> <!-- /skill-bars -->		

    </div>

</div>

<div class="row button-section">
    <div class="col-twelve">
        <a href="#contact" title="Hire Me" class="button stroke smoothscroll">Contact Me!</a>
        <a href="https://www.linkedin.com/in/nicole-o-brien-267162175/" title="Download CV" class="button button-primary">LinkedIn</a>
    </div>   		
</div>

</section> <!-- /process-->    


<!-- resume Section
================================================== -->
<section id="resume" class="grey-section">

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>Resume</h5>
            <h1>Accomplishments</h1>

            <p class="lead">Here's a summary of my work experience and education so far.</p>

        </div>   		
    </div> <!-- /section-intro--> 

    <div class="row resume-timeline">

        <div class="col-twelve resume-header">

            <h2>Work Experience</h2>

        </div> <!-- /resume-header -->

        <div class="col-twelve">

          <div class="timeline-wrap">

            <div class="timeline-block">

              <div class="timeline-ico">
                <i class="fa fa-briefcase"></i>
              </div>

              <div class="timeline-header">
                <h3>Retail Sales Assistant</h3>
                <p>August 2019 - December 2022</p>
              </div>

              <div class="timeline-content">
                <h3 class="remove-margin">Eir Grafton Street</h3>
                <p class="lead remove-margin" style="font-size: initial;">Skills: Sales | Customer Service | Communication | Leadership | Trainer</p><h4></h4>
                <p class="lead">
                  My role as a Retail Sales Assistant at Eir Grafton Street, encompassed a range of responsibilities. I provided customer<span style="color: black" id="dots">...</span>
                  <span id="more">
                    service, specialising in selling phones, Wi-Fi services, and contracts. Meeting monthly targets was a key part of the job. I excelled in profiling customers to match them with the right products, offering recommendations, and effectively upselling.
                    <br/><br/>
                    In addition to sales, I handled complex customer complaints with a calm and friendly approach, efficiently resolving issues. When my manager was absent, I assumed leadership responsibilities, including shop management, door operations, stocktaking, cash handling, staff training, and addressing escalated customer queries. Training new staff in both sales and software was also within my purview.
                    <br/><br/>
                    My experience in this role developed my customer service and leadership skills, enabling me to handle various aspects of store operations effectively.

                  </span>
                  <br>
                  <a style="color:#1976d2" class="primary-button" onclick="showMore('dots', 'more', 'myBtn')" id="myBtn" #myBtn>read more</a>
                  <br>
                </p>

              </div>

            </div> <!-- /timeline-block -->

            <div class="timeline-block">

              <div class="timeline-ico">
                <i class="fa fa-briefcase"></i>
              </div>

              <div class="timeline-header">
                <h3>Sales Assistant</h3>
                <p>April 2019 - July 2019</p>
              </div>

              <div class="timeline-content">
                <h3 class="remove-margin">BaxterStorey</h3>
                <p class="lead remove-margin" style="font-size: initial;">Technology used: C# | .Net | Git | Github | JQuery | Javascript | HTML | CSS</p><h4></h4>
                <p class="lead animated pulse infinite">
                  As part of my software engineering course at DCU, I worked for Veritas for six months with a great team of Agile software developers.<span style="color: black" id="dots1" #dots>...</span>
                  <span id="more1" #more>
                    During the six months, I worked on five different 
                  </span>
                  <br>
                  <a style="color:#1976d2" class="primary-button" onclick="showMore('dots1', 'more1', 'myBtn1')" id="myBtn1" #myBtn>read more</a>
                  <br>

                </p>
                <br><br>
                <p>

                </p>
              </div>

            </div> <!-- /timeline-block -->

            <div class="timeline-block">

              <div class="timeline-ico">
                <i class="fa fa-briefcase"></i>
              </div>

              <div class="timeline-header">
                <h3>Event Staff</h3>
                <p>November 2018 - March 2019</p>
              </div>

              <div class="timeline-content">
                <h3 class="remove-margin">Radisson Blu</h3>
                <p class="lead remove-margin" style="font-size: initial;">Technology used: C# | .Net | Git | Github | JQuery | Javascript | HTML | CSS</p><h4></h4>
                <p class="lead animated pulse infinite">
                  As part of my software engineering course at DCU, I worked for Veritas for six months with a great team of Agile software developers.<span style="color: black" id="dots2" #dots>...</span>
                  <span id="more2" #more>
                    During the six months
                  </span>
                  <br>
                  <a style="color:#1976d2" class="primary-button" onclick="showMore('dots2', 'more2', 'myBtn2')" id="myBtn2" #myBtn>read more</a>
                  <br>

                </p>
                <br><br>
                <p>

                </p>
              </div>

            </div> <!-- /timeline-block -->

            <div class="timeline-block">

              <div class="timeline-ico">
                <i class="fa fa-briefcase"></i>
              </div>

              <div class="timeline-header">
                <h3>Lounge Staff</h3>
                <p>September 2018 - December 2018</p>
              </div>

              <div class="timeline-content">
                <h3 class="remove-margin">Sheldon Park Hotel</h3>
                <p class="lead remove-margin" style="font-size: initial;">Technology used: C# | .Net | Git | Github | JQuery | Javascript | HTML | CSS</p><h4></h4>
                <p class="lead animated pulse infinite">
                  As part of my software engineering course at DCU, I worked for Veritas for six months with a great team of Agile software developers.<span style="color: black" id="dots3" #dots>...</span>
                  <span id="more3" #more>
                    During the si
                  </span>
                  <br>
                  <a style="color:#1976d2" class="primary-button" onclick="showMore('dots3', 'more3', 'myBtn3')" id="myBtn3" #myBtn>read more</a>
                  <br>

                </p>
                <br><br>
                <p>

                </p>
              </div>

            </div> <!-- /timeline-block -->

          </div> <!-- /timeline-wrap -->   			

        </div> <!-- /col-twelve -->
        
    </div> <!-- /resume-timeline -->

    <div class="row resume-timeline">

        <div class="col-twelve resume-header">

            <h2>Education</h2>

        </div> <!-- /resume-header -->

        <div class="col-twelve">

          <div class="timeline-wrap">

            <div class="timeline-block">

              <div class="timeline-ico">
                <i class="fa fa-graduation-cap"></i>
              </div>

              <div class="timeline-header">
                <h3>Bachelor Degree</h3>
                <p>September 2020 - June 2023</p>
              </div>

              <div class="timeline-content">
                <h3 class="remove-margin">Technological University Dublin</h3><h4></h4>
                <p class="lead remove-margin" style="font-size: initial;">Technology used: Python | Java | Git/Github | Angular | JQuery | etc...</p>
                <p class="lead animated pulse infinite">
                  I studied computer science at Dublin City University for four years, here I learned how to program, write documentation, develop<span style="color: black" id="dots5" #dots>...</span>
                  <span id="more5" #more>
                    software in an
                  </span>
                  <br>
                  <a style="color:#1976d2" class="primary-button" onclick="showMore('dots5', 'more5', 'myBtn5')" id="myBtn5" #myBtn>read more</a>
                  <br>

                </p>
                <br><br>
                <p>

                </p>
              </div>

            </div> <!-- /timeline-block -->

            <div class="timeline-block">

              <div class="timeline-ico">
                <i class="fa fa-graduation-cap"></i>
              </div>

              <div class="timeline-header">
                <h3>Bachelor Degree</h3>
                <p>September 2020 - June 2023</p>
              </div>

              <div class="timeline-content">
                <h3 class="remove-margin">Technological University Dublin</h3><h4></h4>
                <p class="lead remove-margin" style="font-size: initial;">Technology used: Python | Java | Git/Github | Angular | JQuery | etc...</p>
                <p class="lead animated pulse infinite">
                  I studied computer science at Dublin City University for four years, here I learned how to program, write documentation, develop<span style="color: black" id="dots6" #dots>...</span>
                  <span id="more6" #more>
                    software in an
                  </span>
                  <br>
                  <a style="color:#1976d2" class="primary-button" onclick="showMoreExtra('dots6', 'more6', 'myBtn6')" id="myBtn6" #myBtn>read more</a>
                  <br>

                </p>
                <br><br>
                <p>

                </p>
              </div>

            </div> <!-- /timeline-block -->

            <div class="timeline-block">

              <div class="timeline-ico">
                <i class="fa fa-graduation-cap"></i>
              </div>

              <div class="timeline-header">
                <h3>Bachelor Degree</h3>
                <p>September 2020 - June 2023</p>
              </div>

              <div class="timeline-content">
                <h3 class="remove-margin">Technological University Dublin</h3><h4></h4>
                <p class="lead remove-margin" style="font-size: initial;">Technology used: Python | Java | Git/Github | Angular | JQuery | etc...</p>
                <p class="lead animated pulse infinite">
                  I studied computer science at Dublin City University for four years, here I learned how to program, write documentation, develop<span style="color: black" id="dots7" #dots>...</span>
                  <span id="more7" #more>
                    software in an
                  </span>
                  <br>
                  <a style="color:#1976d2" class="primary-button" onclick="showMoreExtra('dots7', 'more7', 'myBtn7')" id="myBtn7" #myBtn>read more</a>
                  <br>

                </p>
                <br><br>
                <p>

                </p>
              </div>

            </div> <!-- /timeline-block -->

          </div> <!-- /timeline-wrap -->

        </div> <!-- /col-twelve -->
        
    </div> <!-- /resume-timeline -->
    
</section> <!-- /features -->


<!-- Portfolio Section
================================================== -->
<section id="portfolio">

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>Portfolio</h5>
            <h1>Links</h1>

            <p class="lead">Here's a collection of relevant links of the work I have done during my studies.</p>
             		
        </div>
    </div>

    <div class="row resume-timeline">

        <div class="col-twelve">

            <div class="timeline-wrap">

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-github"></i>
                    </div>

                    <div class="timeline-header">
                        <h3></h3>
                    </div>

                    <div class="timeline-content">
                        <h3>Artstation<a href="https://www.artstation.com/nicolehey" style="color:#0dcaf0">[LINK]</a></h3><h4></h4>
                        <p class="lead">On my Artstation profile you'll find most of my personal work. If you have any questions about it please contact me!</p>
                    </div>

                </div> <!-- /timeline-block -->

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-github"></i>
                    </div>

                    <div class="timeline-header">
                        <h3></h3>
                    </div>

                    <div class="timeline-content">
                        <h3>Sketchfab<a href="https://sketchfab.com/NicoleOBrien/models" style="color:#0dcaf0">[LINK]</a></h3><h4></h4>
                        <p class="lead">More of my personal work on Sketchfab.</p>
                    </div>

                </div> <!-- /timeline-block -->

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-link"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>June 2020</h3>
                    </div>

                    <div class="timeline-content">
                        <h3>Assault the Tower<a href="https://bifuriouss.itch.io/assault-the-tower" style="color:#0dcaf0">[LINK]</a></h3><h4></h4>
                        <p class="lead">My 4th year project I created in Unreal Engine.</p>
                    </div>

                </div> <!-- /timeline-block -->
                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-github"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>January 2023</h3>
                    </div>

                    <div class="timeline-content">
                        <h3>Dissertation<a href="https://docs.google.com/document/d/1IpGqOkGBDXcbJw1NHnWvg3RrYVCgP6h7/edit?usp=sharing&ouid=115436486352878839217&rtpof=true&sd=true" style="color:#0dcaf0">[LINK]</a></h3><h4></h4>
                        <p class="lead">A link to my 4th year dissertation.</p>
                    </div>

                </div> <!-- /timeline-block -->

                <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-link"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>April 2018</h3>
                    </div>

                    <div class="timeline-content">
                        <h3>Eerie Escape<a href="https://www.newgrounds.com/portal/view/711192" style="color:#0dcaf0">[LINK]</a></h3><h4></h4>
                        <p class="lead">The link to my first year work experience project we made in Unity.</p>
                    </div>

                </div> <!-- /timeline-block -->

            </div> <!-- /timeline-wrap -->   			

        </div> <!-- /col-twelve -->
        
    </div> <!-- /resume-timeline -->
    
</section> <!-- /portfolio --> 	

<!-- contact
================================================== -->
<section id="contact">

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>Contact</h5>
            <h1>I'd Love To Hear From You.</h1>

            <p class="lead">If you have any questions or are interested in any of the work I do, please do get in contact with me. I appreciate the read and thanks!</p>

        </div> 
    </div> <!-- /section-intro -->

    <div class="row contact-info">

        <div class="col-four tab-full">

            <div class="icon">
                <i class="icon-pin"></i>
            </div>

            <h5>Glad you made it this far!</h5>

            <p class="lead">
            Your friendly<br>
            Neighborhood<br>
            Game Designer
            </p>

        </div>

        <div class="col-four tab-full">

            <div class="icon">
                <i class="icon-mail"></i>
            </div>

            <h5>Email Me here</h5>

            <p class="lead">nicoleobrien304@hotmail.co.uk<br>	     
            </p>

        </div>

        <div class="col-four tab-full">

            <div class="icon">
                <i class="icon-phone"></i>
            </div>

            <h5>Call Me Here</h5>

            <p class="lead">
                Mobile: (+353) 83 802 1111<br>
            </p>

        </div>
        
    </div> <!-- /contact-info -->
    
</section> <!-- /contact -->


<!-- footer
================================================== -->

<footer style="background-color: #151515;">

    <div class="row section-intro">
        <div class="col-twelve">

            <ul class="footer footer-social">        
                <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.linkedin.com/in/nicole-o-brien-267162175/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://docs.google.com/document/d/1IpGqOkGBDXcbJw1NHnWvg3RrYVCgP6h7/edit?usp=sharing&ouid=115436486352878839217&rtpof=true&sd=true"><i class="fa fa-bookmark"></i></a></li>
            </ul> 
            
        </div>
    </div>
    	
</footer>  
